@font-face {
 font-family: 'KOTRA_BOLD-Bold';
 src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'KOTRA_GOTHIC';
 src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}

input{
    font-family: 'KOTRA_GOTHIC';
    font-size: 20px;
}