<!doctype html>
<head>
    <meta charset = utf-8>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>꿀벌마켓</title>

    <link rel= "stylesheet" type="text/css" href="../static/css/main_css.css">
</head>

<body>
    <header>
        <div id="header" class="top-page">
            <div id="main_logo"> 
                <a href="https://www.notion.so/98a3bad57d464bd098bce1fa42512e3f">
                    <img class="title_img"
                    src="../static/image/APISmarket-full-logo_(170PX).png"
                    alt="main logo of apis market">
                    <spen class="sr-only">꿀벌마켓</spen>
                </a>
            </div>

            <div id = "search_bar" class="search_bar">
                <div>
                    <input type="text" name="search_blank" id="search_blank" placeholder="원하는 상품을 검색해주세요.">
                </div>
                <div>
                    <button>
                        <img id="main_search" alt="search" src="../static/image/search-24px.svg" placeholder="log in">
                    </button>
                </div>
            </div>
        </div>
    </header>

    <div id="log_in_place" class="log_in_place">
        <div id=log_in_blank>
            <div>
                <input type="text" name="id_place" id="id_place" class="log_in" placeholder="아이디를 입력해주세요.">
            </div>
            <div>
                <input type="text" name="pw_place" id="pw_place" class="log_in" placeholder="비밀번호를 입력해주세요.">
            </div>
        </div>
        <div>
            <button id="log_in_button" border:1px solid; style="width:60pt;height:60pt;">
                
            </button>
        </div>
    </div>
</body>